[verify_ipv6_resolvers]
domain = rr-mirror.research6.nawrocki.berlin
verification_source = measurements.zdns.ipv6-verification
output_dir = data/measurements/verify_ipv6_resolvers
input_file = ipv6_resolvers.txt
output_file = verify_ipv6_resolvers.jsonl
limit =
verified =
is_public =
source =
country =
asn =
