{% extends "frontend/base.html" %}

{% block content %}
    <section class="banner">
        <div class="banner-inner">
            <h1>DNS Resilience Observatory</h1>
        </div>
    </section>

    <main class="content home-content">
        <section class="start-view">
            <a class="start-tile kindns-tile" href="http://103.154.234.110:8888">
                <span class="start-kicker">KINDNS</span>
                <span class="start-title">KINDNS TLD Practice Vizualizer</span>
            </a>
            <a class="start-tile resolver-tile" href="/resolver.html">
                <span class="start-kicker">Observatory</span>
                <span class="start-title">Resilience of Recursive DNS Resolver</span>
            </a>
        </section>
    </main>
{% endblock %}
